<div>
  <article>
  <h2> Academy Accenture </h2>
  <p>El Academy es un programa destinado a facilitar a los mejores talentos la posibilidad de incorporarse al equipo de Consulting de Accenture y recibir entrenamiento intensivo en distintos temas de consultoría, de la mano de los mejores profesionales, adquiriendo las habilidades y manejando las herramientas necesarias para su futuro desarrollo profesional.
    Una vez finalizada la formación, los participantes serán asignados a proyectos concretos y comenzarán su carrera como consultores.
  </p>
  <p>Esta applicacion web es el resultado final de la clase del dia 23 Octubre 2020 referente al curso de Angular 8, donde despues de un total de 3 clases diaria, revisamos parte de los conocimientos obtenidos durate ese periodo y lo sumamos en ese proyecto.  </p>
  </article>
  <aside>
  <h3> Conocimientos Revisados</h3>
  <ul>
    <li>TypeScript</li>
    <li>Binding</li>
    <li>Angular Reactive Forms</li>
    <li>Validaciones</li>
    <li>Angular Router</li>
    <li>HttpClient</li>
    <li>Api Services</li>
  </ul>
</aside>
</div>
